-body{
    font-size:1em;
     height: 100%;
  }

  h3 {
    font-family: Lato;
    text-align: center;
    color:	#0080ff;
  }

  .circles{
    height: 0.938em;
    width: 0.938em;
    border: 0.188em solid #000;
    border-radius: 50%;
    display: inline-block;
  }

  .active{
      background-color:#ff5e00cb;
  }

  .circle-desc-active{
  font-weight: bold;
  }

  .bar{
    width: 16%;
    height: 0.063em;
    margin-bottom:0.469em;
    border: 0.031em solid #000;
    color:#000;
    background-color:#000;
    display: inline-block;
    text-align:center;
    margin:"0 auto";
    margin-top: 20px;
  }

  .container{
    min-width:320px;
    margin: "0px auto";
    text-align: center;
  }

  .circle-desc{
   position: relative;
   top:5.000em;
   font-size: 1.125em;
   width: auto;
   max-width:9.375em;
   margin-left:-0.750em;
   margin-top: 0px;
  }

  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .horizontal-timeline .items {
    border-top: 2px solid #ddd;
    }

    .horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
    }

    .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ddd;
    top: 0;
    margin-top: -5px;
    }

    .horizontal-timeline .items .items-list {
    padding-top: 15px;
    }
