<div class="product-details-container">
    <div class="product-details-content">
      <div class="image-section">
        <img src="https://res.cloudinary.com/ecommercehcl/image/upload/v1662346389/c9797a18-1fed-4ac8-a218-bd8e52881aa8_1.758d00198bfc1604c7c782e72223551d_idkj3h.jpg">
      </div>
        <div class="product-specs-section">
          <p class="product-name">

          <h2>Ostrich T-Shirt by O-Mart</h2>

          <p class="product-price">
          
          <h3>$14.99</h3>
           
          <p class="product-description">

            <li>100% Cotton</li>
            <li>Crew Neck</li>
            <li>Short Sleeve</li>
            <li>Ostrich Graphic</li>

          <select name="" id="">
            <option>Select Size</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>X-Large</option>
          </select>

          <div class="btn-Add-Cart"><button class="btn-Add-Cart">Add To Cart</button>
          </div>
        </div>
    </div>
</div>