<div class="product-details-container">
    <div class="product-details-content">
      <div class="image-section">
        <img src={{product.image}}>
      </div>

        <div class="product-specs-section">
          <p class="product-name">

          <h2>{{product.name}}</h2>

          <div class="rating">
  
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
          
          </div>

          <p class="product-price">
          
          <h3>${{product.price}}</h3>
           
          <p class="product-description">

            <h4>{{product.description}}</h4>

          <div class="btn-add-cart" ><button class="btn-add-cart" >Add To Cart</button>
          </div>
        </div>
    </div>
</div>
 <!-- Footer-->
 <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
  </div>
</footer>