

.product-details-container{
    width: 100%;
    box-sizing: border-box;
    margin-top: 10%;
}

.product-details-content{
    display: flex;
    width: 90%;
    grid-column-gap: 45px;
}

img{
        width: 100%;
        margin-bottom: 20%;
}

.image-section {
    width: 80%;    
}

 .product-specs-section{
        width: 50%;
}

.product-name {
    font-size: 34px;
    color: #000;
}

.product-rating {
    color: rgb(5, 5, 1);
}

.product-price {
    font-size: medium;
    color: #000;
    margin-top: 10%;
}

.product-description{
    font-size: 18px;
    color: gray;
    margin-top: 30%;
}

.btn-add-cart{
    display: flex;
    margin-top: 20;
    height: 200px;
    width: 100px;
    border: 1px solid black;
    color: #000;
    position: relative;
    margin-top: 20%;
}