<div class="container">
    <form [formGroup]="form" (ngSubmit)="saveAddress(address)">
        <mat-form-field appearance="standard">
            <mat-label></mat-label>
            <input matInput maxlength="255" inputmode="tel" placeholder="Address" formControlName="address1" #addressInput>
            <mat-error>Address is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Address 2</mat-label>
            <input matInput maxlength="255" inputmode="tel" placeholder="Address 2" formControlName="address2" #addressInput>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>City:</mat-label>
            <input matInput maxlength="255" formControlName="city" placeholder="City" #cityInput>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>State:</mat-label>
            <input matInput maxlength="255" formControlName="state" placeholder="State" #stateInput>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Zip Code:</mat-label>
            <input matInput maxlength="255" formControlName="zipcode" placeholder="ZIP" #zipInput>
        </mat-form-field>

        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
    <div>{{ form.value| json }}</div>
</div>