<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Orders Management</h1>
            <!-- <p class="lead fw-normal text-white-50 mb-0">With the best deals you can find</p> -->
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="justify-content-center">
            <!-- <div class="col mb-5" *ngFor="let ua of usersOnAdmin; let i = index">
                <div class="card h-100">
                 
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h3 class="fw-bolder">{{ua.firstName}}  {{ua.lastName}}
                            </h3>
                            {{ua.email}}   
                        </div>
                    </div>
                               
                </div>
            </div> -->


        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
    </div>
</footer>
<router-outlet></router-outlet>

