
<mat-toolbar class="custom-toolbar">
    <mat-toolbar-row >
        <button mat-button (click)="goToHomePage()">
            Ostrich's Mart
        </button>
      <!-- <h1>Ostrich's Mart</h1> -->
      <div fxFlex fxLayoutAlign="flex-end center">

        <form class="navbar-form navbar-left" action="localhost:8081/ecommerce/products">
          <div class="form">
              <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default bg-light">Submit</button>
      </form>
      <button mat-button (click)="goToOrderStatus()">
        Order Status
      </button>

        <button mat-button (click)="goToAccount()">
            Account
        </button>

        <button mat-button (click)="goToCart()">
            <mat-icon>add_shopping_cart</mat-icon>
            Cart
        </button>
        <button mat-button (click)= "goToRegister()">
            <mat-icon>account_circle</mat-icon>
            Admin
        </button>



        <!-- <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->

      </div>
    </mat-toolbar-row>
