<mat-toolbar color="warm">
    <mat-toolbar-row>
        <button mat-button (click)="goToHomePage()">
            Ostrich's Mart
        </button>
      <!-- <h1>Ostrich's Mart</h1> -->
      <div fxFlex fxLayoutAlign="flex-end center">

        <button mat-button (click)="goToAccount()">
            Account
        </button>
       
        <button mat-button (click)="goToCart()">
            <mat-icon>add_shopping_cart</mat-icon>
            Cart 
        </button>
        <button mat-button (click)= "goToRegister()">
            <mat-icon>account_circle</mat-icon>
            Admin
        </button>

        
      
        <!-- <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->
  
      </div>
    </mat-toolbar-row>

    